# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Trabalho-Fundamentos-Programacao.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zetac\OneDrive\Área de Trabalho\Projetos\Trabalho-Fundamentos-Programacao\.idea\.idea.Trabalho-Fundamentos-Programacao.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
